@{
    Layout = null;
}
@model Senparc.Weixin.MP.Sample.JsApi.JsapiModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>互联网企业烧钱做市场，消费者赚钱落实惠！</title>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <meta name="description" content="参与活动可免费领取价值3399元智能手机一部">
    <link rel="stylesheet" type="text/css" href="/content/css/page_mp_article_improve2826cc_NOMI5S.css">
    <link href="/content/css/not_in_mm2637ae_NOMI5S.css" type="text/css" rel="stylesheet">

    <style type="text/css">
        /*弹出层的STYLE*/
        html, body {
            height: 100%;
            margin: 0px;
            font-size: 12px;
        }

        .mydiv {
            background-color: #fff;
            border: 1px solid #f90;
            text-align: center;
            line-height: 40px;
            font-size: 12px;
            font-weight: bold;
            z-index: 99;
            width: 100%;
            height: auto;
            left: 0; /*FF IE7*/
            top: 10%; /*FF IE7*/
            margin-top: 0px;
            position: fixed!important; /*FF IE7*/
            position: absolute; /*IE6*/
            _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : /*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
        }

        .bg {
            background-color: #666;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0; /*FF IE7*/
            filter: alpha(opacity=50); /*IE*/
            opacity: 0.5; /*FF*/
            z-index: 1;
            position: fixed!important; /*FF IE7*/
            position: absolute; /*IE6*/
            _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : /*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
        }
        /*The END*/
        /*map*/
        #map {
            width: 100%;
            height: 100%;
        }

            #map img {
                width: 100%;
                height: auto;
            }
    </style>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg not_in_mm">
    <div id="js_article" class="rich_media">



        <div class="rich_media_inner">
            <div id="page-content">
                <div id="img-content" class="rich_media_area_primary">
                    <h2 class="rich_media_title" id="activity-name">互联网企业烧钱做市场，消费者赚钱落实惠！ 
                    </h2>
                    <div class="rich_media_meta_list">
                        <em id="post-date" class="rich_media_meta rich_media_meta_text">2015-09-26</em>

                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">消费通惠民卡会员中心</a>
                        @* <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">消费通惠民卡会员中心</span>*@

                        <div id="js_profile_qrcode" class="profile_container" style="display: none;">
                            <div class="profile_inner">
                                <strong class="profile_nickname">消费通惠民卡会员中心</strong>
                                <img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="">

                                <p class="profile_meta">
                                    <label class="profile_meta_label">微信号</label>
                                    <span class="profile_meta_value">xfthmk</span>
                                </p>

                                <p class="profile_meta">
                                    <label class="profile_meta_label">功能介绍</label>
                                    <span class="profile_meta_value">打造一个会员互通互融互利的线上线下互动O2O物联网平台</span>
                                </p>

                            </div>
                            <span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                                <i class="profile_arrow arrow_out"></i>
                                <i class="profile_arrow arrow_in"></i>
                            </span>
                        </div>
                    </div>



                    <div class="rich_media_content" id="js_content">
                        <section class="135editor" data-id="85514" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section style="margin: 3px; padding: 10px; max-width: 100%; box-sizing: border-box; line-height: 24px; border: 3px solid rgb(30, 155, 232); border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; word-wrap: break-word !important;">
                                <section class="135brush" data-style="color:rgb(33,33,33);text-align:center;" style="margin: 0px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important; text-align: left; white-space: normal">
                                        <strong><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体; font-size: 24px; line-height: 33px; text-indent: 19px; color: inherit;">疯了，消费通又免费送手机了！</span></strong>
                                    </p>
                                    <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 33px; font-size: 18px; font-family: 宋体;">现在只要参与活动就可免费领取市场价3399元的智能手机一部。</span> </p>
                                </section>
                                <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none rgb(30, 155, 232); clear: both; color: inherit;">
                                    <section style="margin: 0px 0px -3px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: rgb(255, 255, 255); float: right; width: 6px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; box-shadow: rgb(117, 117, 117) 0px 0px 5px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 6px !important;"></section>
                                    <section style="margin: 0px 0px -2px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: rgb(255, 255, 255); width: 6px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; box-shadow: rgb(117, 117, 117) 0px 0px 5px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 6px !important;"></section>
                                </section>
                            </section>

                        </section>
                        <p></p>
                        <section class="135editor" data-id="53787" data-color="rgb(216, 40, 33)" data-custom="rgb(216, 40, 33)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section style="margin: 0.8em 33.5px 0.3em; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: none;">
                                <section class="135brush" data-brushtype="text" style="margin: 0px auto; padding: 9px 4px 14px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: rgb(216, 40, 33); font-size: 20px; letter-spacing: 3px; text-align: center; border: 4px solid rgb(216, 40, 33); border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;">参与活动方法</section>
                                <section style="margin: 0px auto; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(216, 40, 33); border-top-color: rgb(216, 40, 33); height: 10px; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;"></section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <section class="135editor" data-id="85562" style="">
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; font-family: 微软雅黑; border: 0px none;">
                                <section style="margin: 10px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color: rgb(255, 255, 255); text-align: center; border-color: rgb(214, 87, 76); background-color: rgb(172, 29, 16);">
                                    <section class="135brush" data-style="font-size: 16px;color:rgb(255,255,255)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">

                                        <p style="margin-top: 20px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px;"><a href="javascript:" onclick="downBMB()">下载消费通APP</a></span></span></strong></span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px;"></span><span onclick="toShare3()" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px;">并注册成为会员；</span></span></strong></span></p>

                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; font-family: 微软雅黑; border: 0px none;">
                                <section style="margin: 15px 0px -17px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                    <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block; color: inherit;">
                                        <section style="margin: 0px 0px 0px 10px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 12px; height: 20px; color: rgb(239, 239, 239); border-color: rgb(105, 94, 91); background-color: rgb(60, 40, 34);"></section>
                                        <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; height: 0px; width: 0px; border-width: 16px; border-style: solid; border-color: rgb(60, 40, 34) transparent transparent; text-align: right; color: inherit;"></section>
                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; font-family: 微软雅黑; border: 0px none;">
                                <section style="margin: 10px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color: rgb(255, 255, 255); text-align: center; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232);">
                                    <section class="135brush" data-style="font-size: 16px;color:rgb(255,255,255)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">

                                        <p style="margin-top: 20px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span onclick="joinEvent()" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px; line-height: 28.7999992370605px;">点击参与活动，充值1000元活动保证金，活动保证金即日起按应返额0.05%逐日全额返还；</span></strong></span></p>

                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; font-family: 微软雅黑; border: 0px none;">
                                <section style="margin: 15px 0px -17px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                    <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block; color: inherit;">
                                        <section style="margin: 0px 0px 0px 10px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 12px; height: 20px; color: rgb(239, 239, 239); border-color: rgb(105, 94, 91); background-color: rgb(60, 40, 34);"></section>
                                        <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; height: 0px; width: 0px; border-width: 16px; border-style: solid; border-color: rgb(60, 40, 34) transparent transparent; text-align: right; color: inherit;"></section>
                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 10px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color: rgb(255, 255, 255); text-align: center; border-color: rgb(223, 159, 132); background-color: rgb(226, 86, 27);">
                                    <section class="135brush" data-style="font-size: 16px;color:rgb(255,255,255)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">

                                        <p style="margin-top: 20px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 18px;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体; color: inherit;">到<a href="javascript:" style="color: blue;" onclick="showDiv()">消费通会员中心</a>领取</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体; color: inherit;">市场价3399</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体; color: inherit;">元的智能手机一台；</span></span></strong></p>

                                    </section>
                                </section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; font-family: 微软雅黑; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section style="margin: 15px 0px -17px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block; color: inherit;">
                                    <section style="margin: 0px 0px 0px 10px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 12px; height: 20px; color: rgb(239, 239, 239); border-color: rgb(105, 94, 91); background-color: rgb(60, 40, 34);"></section>
                                    <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; height: 0px; width: 0px; border-width: 16px; border-style: solid; border-color: rgb(60, 40, 34) transparent transparent; text-align: right; color: inherit;"></section>
                                </section>
                            </section>
                        </section>
                        <section class="135editor" data-id="85562" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section class="135editor" data-color="rgb(254, 236, 175)" data-custom="rgb(254, 236, 175)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 10px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color: rgb(172, 133, 2); text-align: center; border-color: rgb(254, 236, 175); background-color: rgb(254, 236, 175);">
                                    <section data-style="font-size: 16px;color:rgb(255,255,255)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">

                                        <p style="margin-top: 20px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 18px;">点击本微信右上角，把这个好消息分享好友；</span></strong></p>

                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 15px 0px -17px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                    <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block; color: inherit;">
                                        <section style="margin: 0px 0px 0px 10px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 12px; height: 20px; color: rgb(239, 239, 239); border-color: rgb(105, 94, 91); background-color: rgb(60, 40, 34);"></section>
                                        <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; height: 0px; width: 0px; border-width: 16px; border-style: solid; border-color: rgb(60, 40, 34) transparent transparent; text-align: right; color: inherit;"></section>
                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 10px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; color: rgb(255, 255, 255); text-align: center; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232);">
                                    <section class="135brush" data-style="font-size: 16px;color:rgb(255,255,255)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">

                                        <p style="margin-top: 20px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;"><strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun; font-size: 18px;">成功推介5位好友参与本活动，您充值的活动保证金即刻激活，可自由消费或退款提现。</span></strong></p>

                                    </section>
                                </section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p></p>

                        <p></p>
           
                        <section class="135editor" data-id="85705" data-color="rgb(216, 40, 33)" data-custom="rgb(216, 40, 33)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section style="margin: 0px 0px 40px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">
                                <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                    <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block;">
                                        <section style="margin: 0px; padding: 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 100px; height: 100px; background-color: rgb(216, 40, 33); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; color: rgb(255, 255, 255);">
                                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 80px; height: 80px; background-color: rgb(254, 254, 254); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;"></section>
                                        </section>
                                    </section>
                                </section>
                                <section style="margin: -65px 0px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; text-align: center;">
                                    <section data-width="100%" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; display: inline-block; background-color: rgb(254, 254, 254); width: 670px;">
                                        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; font-size: 20px; line-height: 32px; box-sizing: border-box !important; word-wrap: break-word !important;"><span onclick="joinEvent()" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: rgb(0, 176, 240);">点击参与活动</span></p>
                                    </section>
                                </section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <section class="135editor" data-id="2490" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section style="margin: 0px; padding: 5px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 3px solid rgb(255, 129, 36);">
                                <section data-bcless="lighten" style="margin: 0px; padding: 15px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 1px solid rgb(255, 158, 87); text-align: center; color: inherit;">
                                    <p class="135title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; font-size: 12px; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                                        <span class="135brush" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: arial;"></span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 18px;"><strong style="margin: 0px; padding: 0px; max-width: 100%; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;">
                                            <span class="135brush" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;">糯米手机，为追求极致而生！</span></strong></span>
                                        <strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span class="135brush" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"></span></strong>
                                    </p>
                                    <p class="135title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; color: inherit; font-size: 12px; text-align: left; box-sizing: border-box !important; word-wrap: break-word !important;">
                                        <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 18px;"><strong style="margin: 0px; padding: 0px; max-width: 100%; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span class="135brush" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;">
                                            <img src="/content/images_NOMI5S/640_008.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><img src="/content/images_NOMI5S/640_009.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_010.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                            <img src="/content/images_NOMI5S/640_006.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_011.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_013.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                            <img src="/content/images_NOMI5S/640_003.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                            <img src="/content/images_NOMI5S/640_014.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_002.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_007.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640.jpg" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458"><br>
                                            <img src="/content/images_NOMI5S/640_012.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5895196506550219" data-w="458" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                        </span></strong></span>
                                    </p>
                                </section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p></p>
                        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; white-space: normal; color: rgb(62, 62, 62); line-height: 25px; background-color: rgb(255, 255, 255); font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                        </p>
                        <p></p>
                        <section class="135editor" data-id="42" data-color="rgb(55, 74, 174)" data-custom="rgb(55, 74, 174)" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <blockquote style="padding: 5px 15px; max-width: 100%; box-sizing: border-box; border: 0px; color: rgb(255, 255, 255); font-weight: bold; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; background-color: rgb(55, 74, 174); word-wrap: break-word !important;"><span class="135brush" data-brushtype="text" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">“便民宝”是什么？</span></blockquote>
                            <blockquote class="135brush" data-style="font-size:14px" style="padding: 10px 15px 20px; max-width: 100%; box-sizing: border-box; border-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-color: rgb(55, 74, 174); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; word-wrap: break-word !important;">
                                <p style="margin-top: 0px; margin-bottom: 14px; padding: 0px; max-width: 100%; min-height: 1em; text-indent: 28px; line-height: 33px; border: none; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 19px; font-family: 宋体;">“便民宝”是消费通网络公司在200余家自有品牌</span><span style="margin: 0px; padding: 0px; max-width: 100%; font-size: 19px; font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">“满億100”连锁店的基础上，联盟线下数万家实体商业，以银企合作支付系统为桥梁，以利益分享为原则，打造的综合性“即时消费”移动APP。以消费者的需求为主导，整合线上线下商户及会员的资源，实现商户与消费者的身份互换，轻松解决用户衣食住行等各种生活所需的同时，让每一个人的资源都“赚”起来！</span></p>
                            </blockquote>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p></p>
                        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; white-space: normal; color: rgb(62, 62, 62); line-height: 25px; background-color: rgb(255, 255, 255); font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                        </p>
                        <p></p>
                        <section class="135editor" data-id="7180" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; color: rgb(62, 62, 62); line-height: 25px; white-space: normal; background-color: rgb(255, 255, 255); font-family: 微软雅黑; border: 0px none; word-wrap: break-word !important;">
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 0px 25px; padding: 25px 0px 25px 25px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);">
                                    <section style="margin: 4px 0px 0px -34px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 16px; height: 16px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);"></section>
                                    <section style="margin: -20px 0px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                        <p style="margin-top: 0px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; font-size: 14px; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important; white-space: normal">
                                            <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 20px; font-weight: bold; line-height: 29px; color: rgb(55, 74, 174); text-align: justify;">消费额等值返还</span><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                                        </p>

                                        <section class="135brush" style="margin: 0px; padding: 0px 0px 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-size: 18px;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; font-family: 宋体, SimSun;">免费注册</span><span style="margin: 0px; padding: 0px; max-width: 100%; background-color: rgb(250, 250, 250); font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">成为消费通会员，在消费通线上线下数万家合作商户处消费购物，您消费多少，消费通公司都将</span><span style="margin: 0px; padding: 0px; max-width: 100%; background-color: rgb(250, 250, 250); font-family: 宋体; box-sizing: border-box !important; word-wrap: break-word !important;">都将等值返还。</span></span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; background-color: rgb(0, 156, 210); color: rgb(255, 255, 255);">
                                    <section style="margin: 0px 25px; padding: 25px 0px 25px 25px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);">
                                        <section style="margin: 4px 0px 0px -34px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 16px; height: 16px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);"></section>
                                        <section style="margin: -20px 0px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                            <p style="margin-top: 0px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; font-size: 14px; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px;"><strong class="135brush" data-brushtype="text" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><strong class="135brush" data-brushtype="text" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; line-height: 28px;">不消费，也赚钱</strong></strong></span></p>

                                            <section class="135brush" style="margin: 0px; padding: 0px 0px 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                                <p style="font-size: 17px; margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">会员充值消费安全由保险公司承保，会员账户银行存管、商务局备案监管。</p>
                                                <p style="font-size: 17px; margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; box-sizing: border-box !important; word-wrap: break-word !important;">会员充值，账户积分余额最高年增值12%以上</p>

                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section class="135editor" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; border: 0px none;">
                                <section style="margin: 0px 25px; padding: 25px 0px 25px 25px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);">
                                    <section style="margin: 4px 0px 0px -34px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 16px; height: 16px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);"></section>
                                    <section style="margin: -20px 0px 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                        <p style="margin-top: 0px; margin-bottom: 20px; padding: 0px; max-width: 100%; min-height: 1em; font-size: 14px; color: inherit; box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit; font-size: 18px;"><strong class="135brush" data-brushtype="text" style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; color: inherit;"><span style="margin: 0px; padding: 0px; max-width: 100%; line-height: 28px; background-color: rgb(250, 250, 250); box-sizing: border-box !important; word-wrap: break-word !important;">推介好友，一次推介，永久收益</span></strong></span></p>

                                        <section class="135brush" style="margin: 0px; padding: 0px 0px 10px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; color: inherit;">
                                            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; background-color: rgb(250, 250, 250); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">好友充值，</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px;">2%</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">年积分奖励马上送给您；</span></p>
                                            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; background-color: rgb(250, 250, 250); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">好友消费，所消费金额</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px;">0.5%</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">再送您。</span></p>
                                            <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; background-color: rgb(250, 250, 250); box-sizing: border-box !important; word-wrap: break-word !important;"><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">（</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px;">1</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">积分价值</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px;">1</span><span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important; line-height: 24px; text-align: justify; font-size: 18px; font-family: 宋体;">元人民币）</span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important; width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p></p>
                        <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; max-width: 100%; min-height: 1em; white-space: normal; color: rgb(62, 62, 62); line-height: 25px; background-color: rgb(255, 255, 255); font-family: 微软雅黑; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <img src="/content/images_NOMI5S/640_004.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="1.774" data-w="500" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;"><br style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
                            <img src="/content/images_NOMI5S/640_005.jpg" _width="auto" data-s="300,640" data-type="jpeg" data-ratio="0.5849802371541502" data-w="" style="margin: 0px; padding: 0px; box-sizing: border-box ! important; word-wrap: break-word ! important; width: auto ! important; visibility: visible ! important; height: auto ! important;">
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>


                    <link rel="stylesheet" type="text/css" href="/content/css/page_mp_article_improve_combo2826cc_NOMI5S.css">


                    <div class="rich_media_tool" id="js_toobar2">

                        <div id="js_read_area2" class="media_tool_meta tips_global meta_primary" style="display: none;">阅读 <span id="readNum2"></span></div>

                        <span style="display: none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like2">
                            <i class="icon_praise_gray"></i><span class="praise_num" id="likeNum2"></span>
                        </span>

                        <a id="js_report_article2" style="display: none;" class="media_tool_meta tips_global meta_extra" href="javascript:void(0);">举报</a>

                    </div>
                </div>

                <div class="rich_media_area_extra">


                    <div class="mpda_bottom_container" id="js_bottom_ad_area"></div>


                    <div id="js_iframetest" style="display: none;"></div>


                </div>

            </div>
            <div id="js_pc_qr_code" class="qr_code_pc_outer" style="display: block;">
                <div class="qr_code_pc_inner">
                    <div class="qr_code_pc">
                        <img src="/content/images_NOMI5S/qrcode.bmp" id="js_pc_qr_code_img" class="qr_code_pc_img">
                        <p>
                            微信扫一扫<br>
                            关注该公众号
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="popDiv" class="mydiv" style="display: none;">
        <div id="map">
            <img src="/content/images/mapPhone.jpg" alt="" />
        </div>
        <a href="javascript:closeDiv()">关闭</a>
    </div>
    <div id="bg" class="bg" style="display: none;"></div>
    <input value="@ViewBag.ShareUserId" style="display:none;" id="txtShareUserId" />
<input value="@ViewBag.weixinAuthUrl" style="display:none;" id="txtweixinAuthUrl" />
    <script src="~/Content/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        var shareuserid = $("#txtShareUserId").val();
        var weixinAuthUrl = $("#txtweixinAuthUrl").val();
        var m = window.location.hash;
        var id = m.substring(1);

        var appid = '@Model.AppId';
        var timestamp = @Model.Timestamp;
        var nonceStr = '@Model.Noncestr';
        var signature = '@Model.Signature';

        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: nonceStr,
            signature: signature,
            jsApiList: [
              'checkJsApi',
              'onMenuShareTimeline',
              'onMenuShareAppMessage'
            ]
        });

        wx.ready(function () {
            wx.onMenuShareAppMessage(
                    {
                        title: '互联网企业烧钱做市场，消费者赚钱落实惠！',
                        desc: '参与活动可免费领取价值3399元智能手机一部！',
                        link: '@ViewBag.WeixinUrl/xft/Share3?id='+shareuserid+'#' + shareuserid,
                        imgUrl: '@ViewBag.WeixinUrl/images/xft-xt.png',

                        trigger: function (res) {
                            //alert('用户点击发送给朋友');
                        },
                        success: function (res) {
                            alert('已分享');
                        },
                        cancel: function (res) {
                            alert('已取消');
                        },
                        fail: function (res) {
                            //alert(JSON.stringify(res));
                        }
                    }
                );
            wx.onMenuShareTimeline(
                {
                    title: '互联网企业烧钱做市场，消费者赚钱落实惠！',
                    desc: '参与活动可免费领取价值3399元智能手机一部！',
                    link: '@ViewBag.WeixinUrl/xft/Share3?id='+shareuserid+'#' + shareuserid,
                    imgUrl: '@ViewBag.WeixinUrl/images/xft-xt.png',

                    trigger: function (res) {
                        // alert('用户点击分享到朋友圈');
                    },
                    success: function (res) {
                          alert('已分享');
                    },
                    cancel: function (res) {
                          alert('已取消');
                    },
                    fail: function (res) {
                        //  alert(JSON.stringify(res));
                    }
                }
                );
        });

        wx.error(function (res) {
            //alert(res.errMsg);
        });

        //获取Url中的参数
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        //参与活动的方法
        function joinEvent() {
            //获取Url中#后边的UserId
            var m = window.location.hash;
            var id = m.substring(1);
            location.href = '/tenpayv3/Doshouji?UserId=' + id;
        }
        function toShare3() {
            //var id = getQueryString('id');
            //获取Url中#后边的UserId
            var m = window.location.hash;
            var id = m.substring(1);
            location.href = weixinAuthUrl;
        }

        function downBMB() {
            location.href = 'http://www.xftbmb.com/download';
        }
        function showDiv() {
            document.getElementById('popDiv').style.display = 'block';
            document.getElementById('bg').style.display = 'block';
        }

        function closeDiv() {
            document.getElementById('popDiv').style.display = 'none';
            document.getElementById('bg').style.display = 'none';
        }


    </script>

</body>




</html>
